<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category</key>
		<string>1</string>
		<key>destinations</key>
		<array>
			<dict>
				<key>id</key>
				<integer>55</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/55-portrait.jpg</string>
				<key>lat</key>
				<real>36.204799999999999</real>
				<key>lng</key>
				<real>138.25299999999999</real>
				<key>name_en</key>
				<string>Japan</string>
				<key>name_zh_cn</key>
				<string>日本</string>
				<key>poi_count</key>
				<integer>1006</integer>
				<key>updated_at</key>
				<integer>1435961025</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>45</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/45-portrait.jpg</string>
				<key>lat</key>
				<real>15.869999999999999</real>
				<key>lng</key>
				<real>100.99299999999999</real>
				<key>name_en</key>
				<string>Thailand</string>
				<key>name_zh_cn</key>
				<string>泰国</string>
				<key>poi_count</key>
				<integer>473</integer>
				<key>updated_at</key>
				<integer>1443385980</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>47</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/47-portrait.jpg</string>
				<key>lat</key>
				<real>35.907800000000002</real>
				<key>lng</key>
				<real>127.767</real>
				<key>name_en</key>
				<string>South Korea</string>
				<key>name_zh_cn</key>
				<string>韩国</string>
				<key>poi_count</key>
				<integer>308</integer>
				<key>updated_at</key>
				<integer>1441500709</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>71</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/71-portrait.jpg</string>
				<key>lat</key>
				<real>4.2104799999999996</real>
				<key>lng</key>
				<real>101.976</real>
				<key>name_en</key>
				<string>Malaysia</string>
				<key>name_zh_cn</key>
				<string>马来西亚</string>
				<key>poi_count</key>
				<integer>292</integer>
				<key>updated_at</key>
				<integer>1444595616</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>53</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/53-portrait.jpg</string>
				<key>lat</key>
				<real>1.3520799999999999</real>
				<key>lng</key>
				<real>103.81999999999999</real>
				<key>name_en</key>
				<string>Singapore</string>
				<key>name_zh_cn</key>
				<string>新加坡</string>
				<key>poi_count</key>
				<integer>176</integer>
				<key>updated_at</key>
				<integer>1430167398</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>54</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/54-portrait.jpg</string>
				<key>lat</key>
				<real>12.5657</real>
				<key>lng</key>
				<real>104.991</real>
				<key>name_en</key>
				<string>Cambodia</string>
				<key>name_zh_cn</key>
				<string>柬埔寨</string>
				<key>poi_count</key>
				<integer>96</integer>
				<key>updated_at</key>
				<integer>1431550560</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>76</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/76-portait.jpg</string>
				<key>lat</key>
				<real>-0.78927499999999995</real>
				<key>lng</key>
				<real>113.92100000000001</real>
				<key>name_en</key>
				<string>Indonesia</string>
				<key>name_zh_cn</key>
				<string>印度尼西亚</string>
				<key>poi_count</key>
				<integer>202</integer>
				<key>updated_at</key>
				<integer>1432154378</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>49</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/49-portrait.jpg</string>
				<key>lat</key>
				<real>14.058299999999999</real>
				<key>lng</key>
				<real>108.277</real>
				<key>name_en</key>
				<string>Vietnam</string>
				<key>name_zh_cn</key>
				<string>越南</string>
				<key>poi_count</key>
				<integer>243</integer>
				<key>updated_at</key>
				<integer>1442694471</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>73</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/73-portrait.jpg</string>
				<key>lat</key>
				<real>12.8797</real>
				<key>lng</key>
				<real>121.774</real>
				<key>name_en</key>
				<string>Philippines</string>
				<key>name_zh_cn</key>
				<string>菲律宾</string>
				<key>poi_count</key>
				<integer>267</integer>
				<key>updated_at</key>
				<integer>1436910094</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>48</integer>
				<key>image_url</key>
				<string>http://cyjm.qiniudn.com/destinations/48-portrait.jpg</string>
				<key>lat</key>
				<real>7.8730500000000001</real>
				<key>lng</key>
				<real>80.771799999999999</real>
				<key>name_en</key>
				<string>Sri Lanka</string>
				<key>name_zh_cn</key>
				<string>斯里兰卡</string>
				<key>poi_count</key>
				<integer>74</integer>
				<key>updated_at</key>
				<integer>1443040129</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>56</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/56-portrait.png</string>
				<key>lat</key>
				<real>28.3949</real>
				<key>lng</key>
				<real>84.123999999999995</real>
				<key>name_en</key>
				<string>Nepal</string>
				<key>name_zh_cn</key>
				<string>尼泊尔</string>
				<key>poi_count</key>
				<integer>92</integer>
				<key>updated_at</key>
				<integer>1432154377</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>50</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/50-portrait1.jpg</string>
				<key>lat</key>
				<real>21.914000000000001</real>
				<key>lng</key>
				<real>95.956199999999995</real>
				<key>name_en</key>
				<string>Myanmar</string>
				<key>name_zh_cn</key>
				<string>缅甸</string>
				<key>poi_count</key>
				<integer>158</integer>
				<key>updated_at</key>
				<integer>1433737537</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>75</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/75-portrait.jpg</string>
				<key>lat</key>
				<real>19.856300000000001</real>
				<key>lng</key>
				<real>102.495</real>
				<key>name_en</key>
				<string>Laos</string>
				<key>name_zh_cn</key>
				<string>老挝</string>
				<key>poi_count</key>
				<integer>69</integer>
				<key>updated_at</key>
				<integer>1417120088</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>51</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/51-portrait.jpg</string>
				<key>lat</key>
				<real>40.3399</real>
				<key>lng</key>
				<real>127.51000000000001</real>
				<key>name_en</key>
				<string>North Korea</string>
				<key>name_zh_cn</key>
				<string>朝鲜</string>
				<key>poi_count</key>
				<integer>21</integer>
				<key>updated_at</key>
				<integer>1401437750</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>2</string>
		<key>destinations</key>
		<array>
			<dict>
				<key>id</key>
				<integer>62</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/62-portrait.jpg</string>
				<key>lat</key>
				<real>46.227600000000002</real>
				<key>lng</key>
				<real>2.2137500000000001</real>
				<key>name_en</key>
				<string>France</string>
				<key>name_zh_cn</key>
				<string>法国</string>
				<key>poi_count</key>
				<integer>311</integer>
				<key>updated_at</key>
				<integer>1442435484</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>80</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/80-portrait.jpg</string>
				<key>lat</key>
				<real>41.871899999999997</real>
				<key>lng</key>
				<real>12.567399999999999</real>
				<key>name_en</key>
				<string>Italy</string>
				<key>name_zh_cn</key>
				<string>意大利</string>
				<key>poi_count</key>
				<integer>338</integer>
				<key>updated_at</key>
				<integer>1441571966</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>67</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/67-portait.jpg</string>
				<key>lat</key>
				<real>55.378100000000003</real>
				<key>lng</key>
				<real>-3.4359700000000002</real>
				<key>name_en</key>
				<string>United Kingdom</string>
				<key>name_zh_cn</key>
				<string>英国</string>
				<key>poi_count</key>
				<integer>230</integer>
				<key>updated_at</key>
				<integer>1443385981</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>63</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/39-portrait.jpg</string>
				<key>lat</key>
				<real>51.165700000000001</real>
				<key>lng</key>
				<real>10.451499999999999</real>
				<key>name_en</key>
				<string>Germany</string>
				<key>name_zh_cn</key>
				<string>德国</string>
				<key>poi_count</key>
				<integer>246</integer>
				<key>updated_at</key>
				<integer>1444941597</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>90</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/90-portrait.jpg</string>
				<key>lat</key>
				<real>46.818199999999997</real>
				<key>lng</key>
				<real>8.2275100000000005</real>
				<key>name_en</key>
				<string>Switzerland</string>
				<key>name_zh_cn</key>
				<string>瑞士</string>
				<key>poi_count</key>
				<integer>184</integer>
				<key>updated_at</key>
				<integer>1436910095</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>77</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/77-portrait.jpg</string>
				<key>lat</key>
				<real>40.463700000000003</real>
				<key>lng</key>
				<real>-3.7492200000000002</real>
				<key>name_en</key>
				<string>Spain</string>
				<key>name_zh_cn</key>
				<string>西班牙</string>
				<key>poi_count</key>
				<integer>237</integer>
				<key>updated_at</key>
				<integer>1440452320</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>84</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/84-portrait.jpg</string>
				<key>lat</key>
				<real>47.516199999999998</real>
				<key>lng</key>
				<real>14.5501</real>
				<key>name_en</key>
				<string>Austria</string>
				<key>name_zh_cn</key>
				<string>奥地利</string>
				<key>poi_count</key>
				<integer>84</integer>
				<key>updated_at</key>
				<integer>1441571966</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>69</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/69-portrait.jpg</string>
				<key>lat</key>
				<real>38.963700000000003</real>
				<key>lng</key>
				<real>35.243299999999998</real>
				<key>name_en</key>
				<string>Turkey</string>
				<key>name_zh_cn</key>
				<string>土耳其</string>
				<key>poi_count</key>
				<integer>124</integer>
				<key>updated_at</key>
				<integer>1443385981</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>89</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/89-portrait.jpg</string>
				<key>lat</key>
				<real>52.132599999999996</real>
				<key>lng</key>
				<real>5.2912699999999999</real>
				<key>name_en</key>
				<string>Netherlands</string>
				<key>name_zh_cn</key>
				<string>荷兰</string>
				<key>poi_count</key>
				<integer>41</integer>
				<key>updated_at</key>
				<integer>1445028292</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>81</integer>
				<key>image_url</key>
				<string>http://cyjm.qiniudn.com/destinations/81-portait.jpg</string>
				<key>lat</key>
				<real>49.817500000000003</real>
				<key>lng</key>
				<real>15.473000000000001</real>
				<key>name_en</key>
				<string>Czech Republic</string>
				<key>name_zh_cn</key>
				<string>捷克</string>
				<key>poi_count</key>
				<integer>91</integer>
				<key>updated_at</key>
				<integer>1440794941</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>83</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/83-portrait.jpg</string>
				<key>lat</key>
				<real>39.074199999999998</real>
				<key>lng</key>
				<real>21.824300000000001</real>
				<key>name_en</key>
				<string>Greece</string>
				<key>name_zh_cn</key>
				<string>希腊</string>
				<key>poi_count</key>
				<integer>66</integer>
				<key>updated_at</key>
				<integer>1432759306</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>97</integer>
				<key>image_url</key>
				<string>http://cyjm.qiniudn.com/destinations/191-portrait.jpg</string>
				<key>lat</key>
				<real>47.162500000000001</real>
				<key>lng</key>
				<real>19.503299999999999</real>
				<key>name_en</key>
				<string>Hungary</string>
				<key>name_zh_cn</key>
				<string>匈牙利</string>
				<key>poi_count</key>
				<integer>65</integer>
				<key>updated_at</key>
				<integer>1441571966</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>3</string>
		<key>destinations</key>
		<array>
			<dict>
				<key>id</key>
				<integer>57</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/america/57-portrait.jpg</string>
				<key>lat</key>
				<real>37.090200000000003</real>
				<key>lng</key>
				<real>-95.712900000000005</real>
				<key>name_en</key>
				<string>United States</string>
				<key>name_zh_cn</key>
				<string>美国</string>
				<key>poi_count</key>
				<integer>219</integer>
				<key>updated_at</key>
				<integer>1443385981</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>61</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/61-portrait.jpg</string>
				<key>lat</key>
				<real>-25.2744</real>
				<key>lng</key>
				<real>133.77500000000001</real>
				<key>name_en</key>
				<string>Australia</string>
				<key>name_zh_cn</key>
				<string>澳大利亚</string>
				<key>poi_count</key>
				<integer>63</integer>
				<key>updated_at</key>
				<integer>1433278480</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>68</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/68-portrait.jpg</string>
				<key>lat</key>
				<real>-40.900599999999997</real>
				<key>lng</key>
				<real>174.886</real>
				<key>name_en</key>
				<string>New Zealand</string>
				<key>name_zh_cn</key>
				<string>新西兰</string>
				<key>poi_count</key>
				<integer>392</integer>
				<key>updated_at</key>
				<integer>1445028291</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>206</integer>
				<key>image_url</key>
				<string>http://cyjm.qiniudn.com/destinations/206-portrait-hb.jpg</string>
				<key>lat</key>
				<real>19.878699999999998</real>
				<key>lng</key>
				<real>-159.51300000000001</real>
				<key>name_en</key>
				<string>U.S. Islands</string>
				<key>name_zh_cn</key>
				<string>美国离岛</string>
				<key>poi_count</key>
				<integer>45</integer>
				<key>updated_at</key>
				<integer>1443040131</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>99</string>
		<key>destinations</key>
		<array>
			<dict>
				<key>id</key>
				<integer>12</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/12-portrait.jpg</string>
				<key>lat</key>
				<real>23.697800000000001</real>
				<key>lng</key>
				<real>120.961</real>
				<key>name_en</key>
				<string>Taiwan</string>
				<key>name_zh_cn</key>
				<string>台湾</string>
				<key>poi_count</key>
				<integer>509</integer>
				<key>updated_at</key>
				<integer>1438895600</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>13</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/13-portrait.jpg</string>
				<key>lat</key>
				<real>22.3964</real>
				<key>lng</key>
				<real>114.10899999999999</real>
				<key>name_en</key>
				<string>Hong Kong</string>
				<key>name_zh_cn</key>
				<string>香港</string>
				<key>poi_count</key>
				<integer>330</integer>
				<key>updated_at</key>
				<integer>1444595614</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>14</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/14-portrait.jpg</string>
				<key>lat</key>
				<real>22.198699999999999</real>
				<key>lng</key>
				<real>113.544</real>
				<key>name_en</key>
				<string>Macau</string>
				<key>name_zh_cn</key>
				<string>澳门</string>
				<key>poi_count</key>
				<integer>163</integer>
				<key>updated_at</key>
				<integer>1430771818</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>999</string>
		<key>destinations</key>
		<array>
			<dict>
				<key>id</key>
				<integer>16</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/16-portrait.jpg</string>
				<key>lat</key>
				<real>25.045400000000001</real>
				<key>lng</key>
				<real>102.70999999999999</real>
				<key>name_en</key>
				<string>Yunnan</string>
				<key>name_zh_cn</key>
				<string>云南</string>
				<key>poi_count</key>
				<integer>139</integer>
				<key>updated_at</key>
				<integer>1440104917</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>25</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/tips/25-portrait.jpg</string>
				<key>lat</key>
				<real>31.230399999999999</real>
				<key>lng</key>
				<real>121.474</real>
				<key>name_en</key>
				<string>Shanghai</string>
				<key>name_zh_cn</key>
				<string>上海</string>
				<key>poi_count</key>
				<integer>196</integer>
				<key>updated_at</key>
				<integer>1442694470</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>20</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/20-portrait.jpg</string>
				<key>lat</key>
				<real>30.651700000000002</real>
				<key>lng</key>
				<real>104.07599999999999</real>
				<key>name_en</key>
				<string>Sichuan</string>
				<key>name_zh_cn</key>
				<string>四川</string>
				<key>poi_count</key>
				<integer>124</integer>
				<key>updated_at</key>
				<integer>1439846509</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>23</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/23-portrait.jpg</string>
				<key>lat</key>
				<real>39.904200000000003</real>
				<key>lng</key>
				<real>116.407</real>
				<key>name_en</key>
				<string>Beijing</string>
				<key>name_zh_cn</key>
				<string>北京</string>
				<key>poi_count</key>
				<integer>248</integer>
				<key>updated_at</key>
				<integer>1444164446</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>152</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/tips/152-portrait.jpg</string>
				<key>lat</key>
				<real>30.274100000000001</real>
				<key>lng</key>
				<real>120.155</real>
				<key>name_en</key>
				<string>Hangzhou</string>
				<key>name_zh_cn</key>
				<string>杭州</string>
				<key>poi_count</key>
				<integer>119</integer>
				<key>updated_at</key>
				<integer>1443213511</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>161</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/161-portrait.jpg</string>
				<key>lat</key>
				<real>24.479800000000001</real>
				<key>lng</key>
				<real>118.089</real>
				<key>name_en</key>
				<string>Xiamen</string>
				<key>name_zh_cn</key>
				<string>厦门</string>
				<key>poi_count</key>
				<integer>111</integer>
				<key>updated_at</key>
				<integer>1441226144</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>26</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/26-portrait.png</string>
				<key>lat</key>
				<real>29.648</real>
				<key>lng</key>
				<real>91.117000000000004</real>
				<key>name_en</key>
				<string>Tibet</string>
				<key>name_zh_cn</key>
				<string>西藏</string>
				<key>poi_count</key>
				<integer>162</integer>
				<key>updated_at</key>
				<integer>1444422619</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>352</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/352-portrait.png</string>
				<key>lat</key>
				<real>36.759900000000002</real>
				<key>lng</key>
				<real>100.34999999999999</real>
				<key>name_en</key>
				<string>Qinghai Lake</string>
				<key>name_zh_cn</key>
				<string>青海湖及周边</string>
				<key>poi_count</key>
				<integer>30</integer>
				<key>updated_at</key>
				<integer>1435875143</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>137</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/137-portrait.jpg</string>
				<key>lat</key>
				<real>34.3416</real>
				<key>lng</key>
				<real>108.94</real>
				<key>name_en</key>
				<string>Xi'an</string>
				<key>name_zh_cn</key>
				<string>西安</string>
				<key>poi_count</key>
				<integer>39</integer>
				<key>updated_at</key>
				<integer>1440191690</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>160</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/160-portrait.jpg</string>
				<key>lat</key>
				<real>23.129200000000001</real>
				<key>lng</key>
				<real>113.264</real>
				<key>name_en</key>
				<string>Guangzhou</string>
				<key>name_zh_cn</key>
				<string>广州</string>
				<key>poi_count</key>
				<integer>138</integer>
				<key>updated_at</key>
				<integer>1444595617</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>354</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/354-portrait.jpg</string>
				<key>lat</key>
				<real>34.983400000000003</real>
				<key>lng</key>
				<real>102.911</real>
				<key>name_en</key>
				<string>Gannan</string>
				<key>name_zh_cn</key>
				<string>甘南与兰州</string>
				<key>poi_count</key>
				<integer>26</integer>
				<key>updated_at</key>
				<integer>1437083008</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>153</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/153-portrait.jpg</string>
				<key>lat</key>
				<real>32.060299999999998</real>
				<key>lng</key>
				<real>118.797</real>
				<key>name_en</key>
				<string>Nanjing</string>
				<key>name_zh_cn</key>
				<string>南京</string>
				<key>poi_count</key>
				<integer>113</integer>
				<key>updated_at</key>
				<integer>1442002912</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>154</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/154-portrait.jpg</string>
				<key>lat</key>
				<real>31.2989</real>
				<key>lng</key>
				<real>120.58499999999999</real>
				<key>name_en</key>
				<string>suzhou</string>
				<key>name_zh_cn</key>
				<string>苏州</string>
				<key>poi_count</key>
				<integer>76</integer>
				<key>updated_at</key>
				<integer>1443213511</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>18</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/18-portrait.jpg</string>
				<key>lat</key>
				<real>40.817500000000003</real>
				<key>lng</key>
				<real>111.76600000000001</real>
				<key>name_en</key>
				<string>Inner mongolia </string>
				<key>name_zh_cn</key>
				<string>内蒙古</string>
				<key>poi_count</key>
				<integer>83</integer>
				<key>updated_at</key>
				<integer>1432154375</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>329</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/329-portrait.jpg</string>
				<key>lat</key>
				<real>40.142099999999999</real>
				<key>lng</key>
				<real>94.661900000000003</real>
				<key>name_en</key>
				<string>Dunhuang</string>
				<key>name_zh_cn</key>
				<string>敦煌与嘉峪关</string>
				<key>poi_count</key>
				<integer>27</integer>
				<key>updated_at</key>
				<integer>1433882952</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>209</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/209-portrait.jpg</string>
				<key>lat</key>
				<real>18.252800000000001</real>
				<key>lng</key>
				<real>109.512</real>
				<key>name_en</key>
				<string>Sanya</string>
				<key>name_zh_cn</key>
				<string>三亚</string>
				<key>poi_count</key>
				<integer>22</integer>
				<key>updated_at</key>
				<integer>1432846590</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>10</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/10-portrait.jpg</string>
				<key>lat</key>
				<real>43.792999999999999</real>
				<key>lng</key>
				<real>87.627799999999993</real>
				<key>name_en</key>
				<string>Xinjiang</string>
				<key>name_zh_cn</key>
				<string>新疆</string>
				<key>poi_count</key>
				<integer>78</integer>
				<key>updated_at</key>
				<integer>1434611752</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>159</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/159-portrait.jpg</string>
				<key>lat</key>
				<real>36.067100000000003</real>
				<key>lng</key>
				<real>120.383</real>
				<key>name_en</key>
				<string>Qingdao</string>
				<key>name_zh_cn</key>
				<string>青岛</string>
				<key>poi_count</key>
				<integer>29</integer>
				<key>updated_at</key>
				<integer>1444336547</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>320</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/320-portrait.jpg</string>
				<key>lat</key>
				<real>34.619700000000002</real>
				<key>lng</key>
				<real>112.45399999999999</real>
				<key>name_en</key>
				<string>Luoyang</string>
				<key>name_zh_cn</key>
				<string>洛阳</string>
				<key>poi_count</key>
				<integer>26</integer>
				<key>updated_at</key>
				<integer>1437642149</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>156</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/156-portrait.jpg</string>
				<key>lat</key>
				<real>45.803800000000003</real>
				<key>lng</key>
				<real>126.535</real>
				<key>name_en</key>
				<string>Harbin</string>
				<key>name_zh_cn</key>
				<string>哈尔滨</string>
				<key>poi_count</key>
				<integer>36</integer>
				<key>updated_at</key>
				<integer>1437642071</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>362</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/362-portrait.jpg</string>
				<key>lat</key>
				<real>25.273599999999998</real>
				<key>lng</key>
				<real>110.29000000000001</real>
				<key>name_en</key>
				<string>Guilin</string>
				<key>name_zh_cn</key>
				<string>桂林</string>
				<key>poi_count</key>
				<integer>44</integer>
				<key>updated_at</key>
				<integer>1437642091</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>366</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/366-portrait.jpg</string>
				<key>lat</key>
				<real>29.117100000000001</real>
				<key>lng</key>
				<real>110.479</real>
				<key>name_en</key>
				<string>Xiangxi</string>
				<key>name_zh_cn</key>
				<string>凤凰与张家界</string>
				<key>poi_count</key>
				<integer>39</integer>
				<key>updated_at</key>
				<integer>1433450828</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>356</integer>
				<key>image_url</key>
				<string>http://m.chanyouji.cn/destinations/356-portrait.jpg</string>
				<key>lat</key>
				<real>29.248000000000001</real>
				<key>lng</key>
				<real>117.86199999999999</real>
				<key>name_en</key>
				<string>Wuyuan</string>
				<key>name_zh_cn</key>
				<string>婺源</string>
				<key>poi_count</key>
				<integer>40</integer>
				<key>updated_at</key>
				<integer>1437642165</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
